:root{
    --grid: 1;
    --bc: #000000;
}
*{
    margin: 0;
}
body{
    background-color: #FAF9F6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{
    font-size: 140px;
}
#color{
    border-radius: 50px;
}
.color-btn{
    height: 40px;
    width: 100px;
    border-radius: 4px;
}
.top{
    display: flex;
    padding: 10px;
    gap: 10px;
}
.btn{
    height: 40px;
    width: 100px;
    border-radius: 4px;
    color: #FAF9F6;
}
.btn:hover{
    transform: scale(3px);
}
#container{
    display: grid;
    gap: 1px;
    height: 500px;
    width: 500px;
    border: 2px solid black;
    grid-template-rows: repeat(var(--grid), 1fr);
    grid-template-columns: repeat(var(--grid), 1fr);    
}
.grid-items{
}
