:root{
    --grid-cols: 1;
    --grid-rows: 1;
}
*{
    margin: 0;
}
body{
    background-color: #FAF9F6;
    height: 100vh;
}
#container{
    display: grid;
    grid-gap: 1px;
    height: 600px;
    width: 600px;
    border: 2px solid black;
    grid-template-rows: repeat(var(--grid-rows));
    grid-template-columns: repeat(var(--grid-cols), 1fr);    
}
.grid-items{
    border: 1px solid #ddd;
}
.grid-items:hover{
    background-color: black;
}